body {
	font-family: 'Montserrat', sans-serif;
}

#nprogress .bar {
	height: 10px !important;
}

.ql-editor {
	min-height: 250px;
}

.featured-image {
	width: 100%;
	max-height: 500px;
	object-fit: cover;
}

.nav-bar {
	background-color: aqua;
}
